<robot name="head_model">
  <link name="head_link">
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="-1.5708 0 0"/>
      <geometry>
        <mesh filename="/home/zulal/vr_pc_ws/src/gazebo_sim/meshes/head.stl" scale="0.0001 0.0001 0.0001"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="-1.5708 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="head_link">
    <gravity>false</gravity>
    <material>Gazebo/Blue</material>
  </gazebo>

  <!-- Camera link (child of head_link) -->
  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Position above the head -->
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <joint name="head_to_camera" type="fixed">
    <parent link="head_link"/>
    <child link="camera_link"/>
    <origin xyz="0.1 0.2 -0.2" rpy="3.1416 0 1.5708"/> <!-- Adjust this for correct positioning -->
  </joint>

  <!-- Gazebo camera sensor -->
  <gazebo reference="camera_link">
    <sensor name="head_camera" type="camera">
      <pose>0 0 0 3.1416 0 1.5708</pose> 
      <camera>
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
      </camera>
      <always_on>true</always_on>
      <update_rate>30.0</update_rate>
      <visualize>true</visualize>
      <!-- ROS Interface -->
      <plugin name="gazebo_ros_camera" filename="libgazebo_ros_camera.so">
        <cameraName>head_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
      </plugin>

    </sensor>
  </gazebo>
</robot>
