<?xml version="1.0"?>
<robot name="myfirst" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- IMU Frame -->
  <link name="imu"/>

  <!-- Base Link -->
  <link name="head_link">
    <visual>
      <origin xyz="-0.08 -0.2 -0.1" rpy="0 0 0"/>  <!-- Moves it down by 5 cm -->
      <geometry>
        <mesh filename="package://rviz_sim/meshes/head.stl" scale="0.0001 0.0001 0.0001"/>
      </geometry>
      <material name="skin">
        <color rgba="0.9 0.7 0.6 1.0"/>
      </material>
    </visual>
    
  </link>

  <!-- Joint to attach head_link to cam0 -->
  <joint name="imu_to_base" type="fixed">
    <parent link="imu"/>
    <child link="head_link"/>
    <origin xyz="0 0 0 " rpy="-1.5708 0 0 "/>
  </joint>


</robot>
